<!DOCTYPE html>
<html>
  
  <head>
    <!-- Google tag (gtag.js) -->
    <script async defer src="https://www.googletagmanager.com/gtag/js?id=G-YHWB9Q3JML"></script>
    <script defer>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-YHWB9Q3JML');
    </script>
    <meta charset="utf-8">
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width">
    <title>Apologetic Millennial</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon_package_v0.16/site.webmanifest">
    <link rel="shortcut icon" href="/images/favicon_package_v0.16/favicon.ico">
    <link rel="mask-icon" href="/images/favicon_package_v0.16/safari-pinned-tab.svg" color="#ede4da">
    <meta name="msapplication-TileColor" content="#ede4da">
    <meta name="msapplication-config" content="/images/favicon_package_v0.16/browserconfig.xml">
    <meta name="theme-color" content="#ede4da">
    
     <!-- <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> -->

    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>

  <body>

    <!-- <div class="sticky"> -->

      <!-- HEADER ==============================================================-->
      <header>
        <div id='banner'>
          <img class='responsive' src='/images/AM_sanity and science banner (cropped).png' />
        </div>
        <!-- <div class="typewriter" id="banner">
          <a href="index.html">
            <h1>Apologetic Millennial</h1>
          </a>
        </div> -->

        <nav class="hide-on-med-and-down">
          <!-- large-screen nav -->
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="/index.html">HOME</a>
              </li>
              <li>
                <a href="/latest.html">LATEST</a>
              </li>
              <li>
                <a href="/about.html">ABOUT</a>
              </li>
              <!-- <li>
                <a href="/ltud.html">LTUD</a>
              </li> -->
              <li>
                <a href="/blog/index.html">BLOG</a>
              </li>
              <li>
                <a href="/newsletter.html">NEWSLETTER</a>
              </li>
              <li>
                <a href="/resources.html">RESOURCES</a>
              </li>
              <!--             <li class="disabled">
                <a class="disabled" href="#">LATEST</a>
              </li> -->
            </ul>
          </div>
        </nav>

        <!-- mobile nav -->
        <!-- mobile nav header -->
        <ul class="sidenav" id="mobile-nav">
          <li>
            <div class="user-view">
              <div class="background centered-h">
                <img src="/images/AM_logo_square.png">
              </div>
              <!-- 
              <a href="#user"><img class="circle" src="/images/ltud_logo.jpeg"></a>

              <a href="#name">
                <span class="white-text name">
                  Letters to Uncle David
                </span>
              </a>
              <a href="#email">
                <span class="white-text email">email@gmail.com</span>
              </a>
              -->
            </div>
          </li>
          <!-- close button -->
          <li>
            <a class="sidenav-close right" href="#!">x</a>
          </li>

          <br />
          <br />

          <!-- sidenav nav links -->
          <li>
            <a href="/index.html">HOME</a>
          </li>
          <li>
            <a href="/latest.html">LATEST</a>
          </li>
          <li>
            <a href="/about.html">ABOUT</a>
          </li>
          <!-- <li>
            <a href="/ltud.html">LTUD</a>
          </li> -->
          <li>
            <a href="/blog/index.html">BLOG</a>
          </li>
          <li>
            <a href="/newsletter.html">NEWSLETTER</a>
          </li>
          <li>
            <a href="/resources.html">RESOURCES</a>
          </li>
          <!--         <li class="disabled">
            <a class="disabled" href="#">LATEST</a>
          </li> -->
        </ul>
      </header>

  <!-- MAIN ==============================================================-->
  <main>
    
    <!-- menu button -------------------------------->
    <a href="#" data-target="mobile-nav" class="right button sidenav-trigger" id="menu-button" >menu</a>


      {{ content }}

      <!-- push footer below everything else -->
      <div class="push"></div>


  </main>
  
  <!-- FOOTER ==============================================================-->
  <footer>

    <div class="row center">
      <!-- links ---------------------------------------->
      <div class="col s12 m4">

        <br />

        <a href="/contact.html">
          <p class="footer-link">CONTACT</p>
        </a>
        <a href="/blog/index.html">
          <p class="footer-link">BLOG</p>
        </a>
        <a href="/newsletter.html">
          <p class="footer-link">NEWSLETTER</p>
        </a>
        <!-- <a class="disabled" href="#">
          <p class="footer-link">STORE</p>
        </a> -->

      </div>

      <!-- logo -------------------------------------------->
      <div class="col s12 m4">

        <br />
        <a href="/index.html">
          <img id="footer-logo" src="/images/AM_logo_square.png" />
        </a>
        <p>&copy; 2023 ALL RIGHTS RESERVED</p>
        <a target="_blank" href="https://iwishwehadmoretime.com">
          <p>design by iwishwehadmoretime</p>
        </a>

      </div>

      <!-- social ---------------------------------------->
      <div class="col s12 m4">

        <br />

        <!-- insta ------------------------------->
        <a class="social-link" href="https://www.instagram.com/apologetic_millennial/" target="_blank">
          <img class="social-icons" src="/images/instagram_logo_black.png" />
          <img class="social-icons hide" src="/images/instagram_logo.png" />
        </a>
        <!-- substack ------------------------------->
        <a class="social-link" href="https://apologeticmillennial.substack.com/" target="_blank">
          <img class="social-icons" src="/images/substack_black.svg" />
          <img class="social-icons hide" src="/images/substack_orange.svg" />
        </a>
        <!-- medium ---------------------------------->
        <a class="social-link" href="https://medium.com/@Apologetic_Millennial" target="_blank">
          <img class="social-icons medium-icons" src="/images/medium_logo_black.png" />
          <img class="social-icons medium-icons hide" src="/images/medium_logo_white.png" />
        </a>
        <!-- tiktok -------------------------------->
        <a class="social-link" href="https://www.tiktok.com/@apologetic_millennial" target="_blank">
          <img class="social-icons" src="/images/tiktok-logo-black.png" />
          <img class="social-icons hide" src="/images/tiktok-logo-color.png" />
        </a>
        <!-- twitter -------------------------------->
        <a class="social-link" href="https://twitter.com/apologetic_m" target="_blank">
          <img class="social-icons" src="/images/twitter_logo_black.png" />
          <img class="social-icons hide" src="/images/twitter_logo_blue.png" />
        </a>
        <!-- youtube -------------------------------->
        <a class="social-link" href="https://www.youtube.com/@ApologeticMillennial" target="_blank">
          <img class="social-icons" src="/images/youtube-logo-black.png" />
          <img class="social-icons hide" src="/images/youtube-logo-red.png" />
        </a>
        <!-- facebook -------------------------->
        <a class="social-link" href="https://www.facebook.com/ApologeticMillennial" target="_blank">
          <img class="social-icons" src="/images/facebook_logo_black.svg" />
          <img class="social-icons hide" id="fb-blue" src="/images/facebook_logo.png" />
        </a>
        
      </div>

    </div>
    <!-- .row -->

  </footer>
    <!-- sticky -->
  <!-- </div> -->
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- materialize js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- custom JS -->
    <script src="/scripts/script.js"></script>
  </body>
</html>
