---
layout: default
---
    <!-- blogs list ------------------------------->
    <div class="row">
      <div class="col s12 l3 push right">
        <ul class="blogs-list">
          <li>
            <p>08 Feb 2023</p>
            <a href="#my-deadbeat-neighbors">The Case Against my Deadbeat Neighbors</a>
          </li>
          <li>
            <p>01 Feb 2023</p>
            <a href="#moral-foundations-101">Moral Foundations 101</a>
          </li>
          <li>
            <p>25 Jan 2023</p>
            <a href="#escaping-conversational-purgatory">Escaping Conversational Purgatory</a>
          </li>
          <li>
            <p>14 Jan 2023</p>
            <a href="#are-political-conversations-pointless">Are Political Conversations Pointless?</a>
          </li>
        </ul>
      </div>
    <!-- </div> ALL ONE ROW NOW -->

    <!-- color code modal -->
    <div id="color-code-modal" class="modal">
      <div class="modal-content review">
        <h2>MFT COLOR CODE</h2>
        <ul>
          <!-- <li class="communication">Communication</li> -->
          <li class="authority">Authority/subversion</li>
          <li class="loyalty">Loyalty/betrayal</li>
          <li class="fairness">Fairness/cheating</li>
          <li class="harm">Care/harm</li>
          <li class="sanctity">Sanctity/degredation</li>
          <li class="freedom">Freedom/oppression</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
      </div>
    </div>

    <!-- individual foundation modals ------------------------------------>
    <!-- communication modal -->
    <div id="modal-triggers">
      <div id="communication-modal" class="modal">
        <div class="modal-content review">
          <h2 class="communication">COMMUNICATION</h2>
          <p>

          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
      <!-- authority / subversion modal -->
      <div id="authority-modal" class="modal">
        <div class="modal-content review">
          <h2 class="authority">AUTHORITY/SUBVERSION</h2>
          <p>
            Related to our ability to determine who’s “in charge,” and form beneficial relationships up and down hierarchies. Helps us create and maintain orderly societies.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
      <!-- loyalty / betrayal modal -->
      <div id="loyalty-modal" class="modal">
        <div class="modal-content review">
          <h2 class="loyalty">LOYALTY/BETRAYAL</h2>
          <p>
            Related to our history as tribal creatures, able to form coalitions that provide belonging and protection. A loyal tribe is a living tribe.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
      <!-- fairness / cheating modal -->
      <div id="fairness-modal" class="modal">
        <div class="modal-content review">
          <h2 class="fairness">FAIRNESS/CHEATING</h2>
          <p>
            Related to “The Golden Rule” and our desire to create justice in an unfair world. “You scratch my back, I’ll scratch yours—or else.”
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
      <!-- care / harm modal -->
      <div id="harm-modal" class="modal">
        <div class="modal-content review">
          <h2 class="harm">CARE/HARM</h2>
          <p>
            Related to our ability to form attachments with our offspring and help ensure their survival. It helps us to feel, dislike, and seek to minimize, the pain of others.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
      <!-- sanctity / degredation modal -->
      <div id="sanctity-modal" class="modal">
        <div class="modal-content review">
          <h2 class="sanctity">SANCTITY/DEGREDATION</h2>
          <p>
            Related to our tendency to be disgusted by things like excrement or rotting meat. Helps us avoid disease and infection. Progressed to include purity of mind as well as body. 
          </p>
          <p>
            <span class="small">Note: sanctity = purity</span>
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
      <!-- freedom / oppression modal -->
      <div id="freedom-modal" class="modal">
        <div class="modal-content review">
          <h2 class="freedom">FREEDOM/OPPRESSION</h2>
          <p>
            Related to our feelings of resentment of those who try to coerce, control, or dominate us in any way. Don’t tread on me.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="work-sans modal-action modal-close waves-effect waves-black btn-flat">CLOSE</a>
        </div>
      </div>
    </div>

    <!-- blog post TEMPLATE ====================================================-->
    <!-- <div class="row"> -->
      <div class="display-none col s12 offset-l1 l8">
        <h2 id="______________________">______________________</h2>
        <h6>______________________ | ___ min read</h6>
        <!-- color code modal trigger -->
        <button class="button modal-trigger" href="#color-code-modal">color code</button>
        <p>
          <!-- post here -->
        </p>
        <!-- separator -->
        <p>_____________________________</p>
      </div>
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
</div>
